/* color map */

$color: (
  gradient: linear-gradient(to top, #d299c2 0%, #fef9d7 100%),
  font-mina: #0000008c,
  mina: #808000,
  accent: #800080,
  btn--primary: #dda0dd,
  btn--font: #f8f8ff,
  field: #e6e6fa
);